.App {
  text-align: center;
  background-color: rgb(196, 216, 87);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controller {
  display: flex;
  justify-content: center;
  align-items: center;
}
.controller > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 5vw;
}
.controller canvas {
  display: none;
  position: absolute;
  pointer-events: none;
}
.TextLabel {
  min-height: 1.1em;
  border-radius: 10px;
  background-color: rgb(215, 235, 102);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.InputText {
  width: 20vw;
}
.InputText input {
  width: 100%;
  padding: 0.5em 1em;
  outline: none;
  font-size: 1.5em;
  border: none;
  border-radius: 3em;
}
